@{
    ViewBag.Title = "Instellingen";
    Layout = "~/Views/Shared/_layout.cshtml";
    @Html.Partial("_SettingsPartial")
}
<div class="settingsContentWrapper">
    <h2>Hallo welkom op de instellen pagina</h2>
    <p>Gebruik de linker navigatiebalk om instellingen aan te passen</p>
    <p>Gebruik de linker navigatiebalk om instellingen aan te passen</p>
    <p>Gebruik de linker navigatiebalk om instellingen aan te passen</p>
    <p>Gebruik de linker navigatiebalk om instellingen aan te passen</p>
</div>



