@{
    ViewBag.Title = "Instellingen";
    @Html.Partial("_SettingsPartial")
}
<div class="settingsContentWrapper">
    <h2>Hallo welkom op de instellen pagina</h2>
    <p>Gebruik de linker navigatiebalk om instellingen aan te passen</p>
    <p>Gebruik het tabje 'Log instellingen' om het log niveau aan te passen</p>
    <p>Onder 'Server instellingen' kunt u de server gegevens aanpassen die betrekking hebben op sms en email server</p>
    <p>Er kunnen nog instellingen tabjes bijkomen in de toekomst</p>
</div>



