@{
    ViewBag.Title = "Contact";
}
<h3>Contact opnemen met UC Systems</h3>

<address>
   @Html.Raw(ViewBag.contactdetails)
</address>

<address>
    <strong>Support afdeling:</strong>   <a href="mailto:service@ucsystems.nl?SUBJECT=RE: Reactie vanuit alert tool">service@ucsystems.nl</a><br />
</address>