@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>Contact opnemen met UC Systems</h3>

<address>
    kade 64<br />
    hardixveld-giessendam, 3371 EP<br />
    <abbr title="support nummer">Tel:</abbr>
    088-6666 333
</address>

<address>
    <strong>Support afdeling:</strong>   <a href="mailto:service@ucsystems.nl?SUBJECT=RE: Service UC Systems.nl">services@ucsystems.nl</a><br />
</address>