@{
    ViewBag.Title = "Contact";
}
<h3>Contact opnemen met UC Systems</h3>

<address>
    kade 64<br />
    3371 EP<br />
    Hardinxveld-Giessendam<br />
    088-6666 333
</address>

<address>
    <strong>Support afdeling:</strong>   <a href="mailto:service@ucsystems.nl?SUBJECT=RE: Service UC Systems.nl">service@ucsystems.nl</a><br />
</address>