@Scripts.Render("~/bundles/jquery")
@if (ViewBag.showSuccess == true)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.SuccessMessage
    </div>
}
else if (ViewBag.showError == true)
{
    <div class="alert alert-warning">
        <strong>Waarschuwing!</strong> @ViewBag.Message
    </div>
}
