<div class="panel panel-default">
    <div class="panel-heading">
        <h4>sms bericht *optioneel*</h4>
    </div>
    <div class="panel-body" id="smsPanelBody">
        <!--Start of email part-->
        <div class="form-group">
            <label class="control-label col-md-2">sms bericht</label>
            <div class="col-md-10">
                <textarea rows="8" cols="50"class = "form-control" id="smsberichtedit" name="smsbericht"  placeholder="Laat leeg als u geen sms wilt verzenden"></textarea>
            </div>
            <div class="col-md-offset-2 col-md-10 maxWidth smallInformation">
                <p id="totalCharacters">160/160 karakters</p>
                <p id="totalSMSForOneMessage">1 Bericht</p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/projectScripts/generalscript.js")
    @Scripts.Render("~/bundles/jqueryval")
}