@Styles.Render("~/Content/SettingsStyle.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/projectScripts/settingsscript.js")

<div class="navbar-default sidebar" role="navigation">
    <div id="navbar-wrapper" class="sidebar-nav navbar-collapse navbar-settings" aria-expanded="false">
        <ul class="nav in" id="side-menu">
            <li>
                <a href="index" class=""><i class="fa fa-home fa-fw"></i> Instellingen</a>
            </li>
            <li>
                <a href="Logging" class=""><i class="fa fa-book fa-fw"></i> Log instellingen</a>
            </li>
            <li>
                <a href="Server" class=""><i class="fa fa-server fa-fw"></i> Server Instellingen</a>
            </li>
        </ul>
    </div>
</div>