@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/SettingsStyle.css")
@Scripts.Render("~/Scripts/projectScripts/settingsscript.js")
<div class="navbar-default sidebar" role="navigation">
    <div id="navbar-wrapper" class="sidebar-nav navbar-collapse sidebar-settings" aria-expanded="false">
        <ul class="nav in" id="side-menu">
            <li>
                <a href="~/instellingen/index" class=""><i class="fa fa-home fa-fw"></i> Instellingen</a>
            </li>
            <li id="sidebar-divider"></li>
            <li>
                <a href="~/instellingen/emailtemplate" class=""><i class="fa fa-address-card fa-fw"></i> Email template</a>
            </li>
            <li>
                <a href="~/instellingen/logging" class=""><i class="fa fa-book fa-fw"></i> Log instellingen</a>
            </li>
            <li>
                <a href="~/instellingen/smsgateway" class=""><i class="fa fa-envelope fa-fw"></i> SMS gateway</a>
            </li>
            <li>
                <a href="~/instellingen/emailserver" class=""><i class="fa fa-server fa-fw"></i> SMTP server</a>
            </li>
            <li>
                <a href="~/instellingen/homepage" class=""><i class="fa fa-server fa-fw"></i> Homepagina instellingen</a>
            </li>
        </ul>
    </div>
</div>