@{
    ViewBag.Title = "Herstel mail is verzonden";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Controleer uw mail inbox en herstel uw account.
    </p>
</div>
	
