
@{
    ViewBag.Title = "Storing melden";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <a href="~/rapporteren/melding">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-newspaper-o fa-5x"></i>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h4 class="pull-right">melding zonder sms of email notificatie</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>  
    <a href="~/rapporteren/meldingmetsms">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-commenting-o fa-5x"></i>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h4 class="pull-right">melding met sms notificatie</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>    
</div>
<div class="row">
    <a href="~/rapporteren/meldingmetemail">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h4 class="pull-right">melding met email notificatie</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="~/rapporteren/meldingmetemailensms">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-share-square-o fa-5x"></i>
                        </div>
                        <div class="col-md-4 pull-right">
                            <h4 class="pull-right">melding met sms en email notificatie</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>  
</div>



